
USE [promptcrm]
GO
/****** Object:  Table [dbo].[PCRAddresses]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRAddresses](
	[IdAddress] [int] IDENTITY(1,1) NOT NULL,
	[line1] [varchar](80) NOT NULL,
	[line2] [varchar](80) NULL,
	[zipCode] [varchar](10) NULL,
	[Geolocation] [geography] NULL,
	[IdCity] [int] NOT NULL,
 CONSTRAINT [PK_PCRAddresses] PRIMARY KEY CLUSTERED 
(
	[IdAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRAddressPerUser]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRAddressPerUser](
	[IdAddressPerUser] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdAddress] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRAddressPerUser] PRIMARY KEY CLUSTERED 
(
	[IdAddressPerUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRChannels]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRChannels](
	[IdChannel] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PCRChannels] PRIMARY KEY CLUSTERED 
(
	[IdChannel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRCities]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRCities](
	[IdCity] [int] IDENTITY(1,1) NOT NULL,
	[cityName] [varchar](50) NOT NULL,
	[IdState] [int] NOT NULL,
 CONSTRAINT [PK_PCRCities] PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRClientContacts]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRClientContacts](
	[IdClientContact] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
	[IdChannel] [smallint] NOT NULL,
	[value] [varchar](80) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_PCRClientContacts] PRIMARY KEY CLUSTERED 
(
	[IdClientContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRClients]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRClients](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](30) NOT NULL,
	[lastName] [varchar](30) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[IdStatus] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRClients] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRClientStatuses]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRClientStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRClientStates] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRCountries]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRCountries](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[countryName] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PCRCountries] PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCREvents]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCREvents](
	[IdEvent] [int] IDENTITY(1,1) NOT NULL,
	[IdEventType] [int] NOT NULL,
	[EventRefID] [varchar](20) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[IdLead] [int] NOT NULL,
	[IdUTM] [int] NOT NULL,
 CONSTRAINT [PK_PCREvents] PRIMARY KEY CLUSTERED 
(
	[IdEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCREventTypes]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCREventTypes](
	[IdEventType] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCREventTypes] PRIMARY KEY CLUSTERED 
(
	[IdEventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRFeatureConfigurations]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRFeatureConfigurations](
	[IdFeatureConfiguration] [int] IDENTITY(1,1) NOT NULL,
	[IdFeatureValue] [int] NOT NULL,
	[IdProfile] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRFeatureConfigurations] PRIMARY KEY CLUSTERED 
(
	[IdFeatureConfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRFeaturesPerSubscription]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRFeaturesPerSubscription](
	[IdSubscription] [int] NOT NULL,
	[IdFeature] [int] NOT NULL,
	[value] [varchar](80) NOT NULL,
	[unlimited] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRFeatureTypes]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRFeatureTypes](
	[IdFeatureType] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRFeatureTypes] PRIMARY KEY CLUSTERED 
(
	[IdFeatureType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRFeatureValues]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRFeatureValues](
	[IdFeatureValue] [int] IDENTITY(1,1) NOT NULL,
	[IdFeatureType] [int] NOT NULL,
	[name] [varchar](60) NOT NULL,
	[minValue] [int] NULL,
	[maxValue] [int] NULL,
	[value] [varchar](80) NULL,
 CONSTRAINT [PK_PCRFeatureValues] PRIMARY KEY CLUSTERED 
(
	[IdFeatureValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLeads]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLeads](
	[IdLead] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](40) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRLeads] PRIMARY KEY CLUSTERED 
(
	[IdLead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLeadStatuses]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLeadStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLeadStatuses] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLogLevels]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLogLevels](
	[IdLogLevel] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLogLevels] PRIMARY KEY CLUSTERED 
(
	[IdLogLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLogs]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLogs](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[Ref1ID] [bigint] NULL,
	[Ref2ID] [bigint] NULL,
	[value1] [varchar](80) NULL,
	[value2] [varchar](80) NULL,
	[IdLogType] [int] NOT NULL,
	[IdLogLevel] [int] NOT NULL,
	[IdLogSource] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[Computer] [varchar](50) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NULL,
	[checksum] [varbinary](255) NULL,
 CONSTRAINT [PK_PCRLogs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLogSources]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLogSources](
	[IdLogSource] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLogSources] PRIMARY KEY CLUSTERED 
(
	[IdLogSource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRLogTypes]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRLogTypes](
	[IdLogType] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRLogTypes] PRIMARY KEY CLUSTERED 
(
	[IdLogType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPaymentMethods]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPaymentMethods](
	[IdPaymentMethod] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [varchar](20) NOT NULL,
	[Description] [varchar](60) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRPaymentMethods] PRIMARY KEY CLUSTERED 
(
	[IdPaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPaymentTransactions]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPaymentTransactions](
	[IdPaymentTransaction] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](16, 2) NOT NULL,
	[IdPaymentMethod] [int] NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[IdType] [int] NOT NULL,
	[computer] [varchar](20) NOT NULL,
	[IdUser] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[checksum] [varbinary](255) NULL,
 CONSTRAINT [PK_PCRTransactions] PRIMARY KEY CLUSTERED 
(
	[IdPaymentTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPaymentTransactionTypes]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPaymentTransactionTypes](
	[IdType] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRTransactionTypes] PRIMARY KEY CLUSTERED 
(
	[IdType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPermissions]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPermissions](
	[IdPermission] [int] IDENTITY(1,1) NOT NULL,
	[PermissionDescription] [varchar](50) NOT NULL,
	[PermissionCode] [varchar](10) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRPermissions] PRIMARY KEY CLUSTERED 
(
	[IdPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRPermissionsPerRoles]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRPermissionsPerRoles](
	[IdRole] [int] NOT NULL,
	[IdPermission] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRProfiles]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRProfiles](
	[IdProfile] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRProfiles] PRIMARY KEY CLUSTERED 
(
	[IdProfile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRProfilesPerClients]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRProfilesPerClients](
	[IdProfilePerClient] [int] IDENTITY(1,1) NOT NULL,
	[IdClient] [int] NOT NULL,
	[IdProfile] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRProfilesPerClients] PRIMARY KEY CLUSTERED 
(
	[IdProfilePerClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRProfilesPerLeads]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRProfilesPerLeads](
	[IdProfilePerLead] [int] IDENTITY(1,1) NOT NULL,
	[IdLead] [int] NOT NULL,
	[IdProfile] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRProfilesPerLeads] PRIMARY KEY CLUSTERED 
(
	[IdProfilePerLead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRRoles]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRRoles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [varchar](20) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRUserRoles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRRolesPerUsers]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRRolesPerUsers](
	[IdUser] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSaleDetails]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSaleDetails](
	[IdDetail] [int] NOT NULL,
	[detailDescription] [varchar](30) NOT NULL,
	[subtotal] [decimal](16, 2) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
	[IdSale] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSalesHistory]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSalesHistory](
	[IdSale] [int] IDENTITY(1,1) NOT NULL,
	[IdClient] [int] NOT NULL,
	[description] [varchar](200) NOT NULL,
	[saleTotal] [decimal](16, 2) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[IdUTM] [int] NOT NULL,
	[checksum] [varbinary](255) NULL,
 CONSTRAINT [PK_PCRSalesHistory] PRIMARY KEY CLUSTERED 
(
	[IdSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRStates]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRStates](
	[IdState] [int] IDENTITY(1,1) NOT NULL,
	[stateName] [varchar](30) NOT NULL,
	[IdCountry] [int] NOT NULL,
 CONSTRAINT [PK_PCRStates] PRIMARY KEY CLUSTERED 
(
	[IdState] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSubscriptionFeatures]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSubscriptionFeatures](
	[IdFeature] [int] IDENTITY(1,1) NOT NULL,
	[featureDescription] [varchar](200) NOT NULL,
	[datatype] [varchar](30) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptionFeatures] PRIMARY KEY CLUSTERED 
(
	[IdFeature] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSubscriptions]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSubscriptions](
	[IdSubscription] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[description] [varchar](80) NOT NULL,
	[pricing] [decimal](16, 2) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptionTiers] PRIMARY KEY CLUSTERED 
(
	[IdSubscription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRSubscriptionsPerUser]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRSubscriptionsPerUser](
	[IdSubscriptionPerUser] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdSubscription] [int] NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
 CONSTRAINT [PK_PCRSubscriptions] PRIMARY KEY CLUSTERED 
(
	[IdSubscriptionPerUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRUserContacts]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRUserContacts](
	[IdUserContact] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdChannel] [smallint] NOT NULL,
	[value] [varchar](80) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_PCRUserContacts] PRIMARY KEY CLUSTERED 
(
	[IdUserContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRUsers]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRUsers](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](40) NOT NULL,
	[lastName] [varchar](40) NOT NULL,
	[passwordHash] [varbinary](max) NOT NULL,
	[passwordSalt] [varbinary](36) NOT NULL,
	[lastLogin] [datetime] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[checksum] [varbinary](255) NULL,
 CONSTRAINT [PK_PCRUsers] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRUserStatuses]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRUserStatuses](
	[IdStatus] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PCRUserStatuses] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRUTMData]    Script Date: 27/11/2025 23:16:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRUTMData](
	[IdUTM] [int] IDENTITY(1,1) NOT NULL,
	[UTMSource] [varchar](max) NOT NULL,
	[UTMMedium] [varchar](max) NOT NULL,
	[UTMCampaign] [varchar](max) NOT NULL,
	[UTMTerm] [varchar](max) NULL,
	[UTMContent] [varchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PCRUTMData] PRIMARY KEY CLUSTERED 
(
	[IdUTM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PCRAddressPerUser] ADD  CONSTRAINT [DF_PCRAddressPerUser_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRAddressPerUser] ADD  CONSTRAINT [DF_PCRAddressPerUser_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRClientContacts] ADD  CONSTRAINT [DF_PCRClientContacts_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRClientContacts] ADD  CONSTRAINT [DF_PCRClientContacts_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[PCRClients] ADD  CONSTRAINT [DF_PCRClients_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRClients] ADD  CONSTRAINT [DF_PCRClients_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRFeatureConfigurations] ADD  CONSTRAINT [DF_PCRFeatureConfigurations_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRFeatureConfigurations] ADD  CONSTRAINT [DF_PCRFeatureConfigurations_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRFeaturesPerSubscription] ADD  CONSTRAINT [DF_PCRFeaturesPerSubscription_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRFeaturesPerSubscription] ADD  CONSTRAINT [DF_PCRFeaturesPerSubscription_UpdatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRFeaturesPerSubscription] ADD  CONSTRAINT [DF_PCRFeaturesPerSubscription_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRLeads] ADD  CONSTRAINT [DF_PCRLeads_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRLeads] ADD  CONSTRAINT [DF_PCRLeads_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRLeads] ADD  CONSTRAINT [DF_PCRLeads_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRPaymentMethods] ADD  CONSTRAINT [DF_PCRPaymentMethods_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRPaymentMethods] ADD  CONSTRAINT [DF_PCRPaymentMethods_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRPaymentMethods] ADD  CONSTRAINT [DF_PCRPaymentMethods_Enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRPaymentTransactions] ADD  CONSTRAINT [DF_PCRPaymentTransactions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PCRPaymentTransactions] ADD  CONSTRAINT [DF_PCRPaymentTransactions_UpdatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRPermissions] ADD  CONSTRAINT [DF_PCRPermissions_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRPermissions] ADD  CONSTRAINT [DF_PCRPermissions_UpdatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRPermissions] ADD  CONSTRAINT [DF_PCRPermissions_Enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles] ADD  CONSTRAINT [DF_PCRPermissionsPerRoles_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles] ADD  CONSTRAINT [DF_PCRPermissionsPerRoles_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles] ADD  CONSTRAINT [DF_PCRPermissionsPerRoles_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRProfiles] ADD  CONSTRAINT [DF_PCRProfiles_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRProfiles] ADD  CONSTRAINT [DF_PCRProfiles_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRProfilesPerClients] ADD  CONSTRAINT [DF_PCRProfilesPerClients_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRProfilesPerClients] ADD  CONSTRAINT [DF_PCRProfilesPerClients_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRProfilesPerClients] ADD  CONSTRAINT [DF_PCRProfilesPerClients_Enabled]  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[PCRProfilesPerLeads] ADD  CONSTRAINT [DF_PCRFeaturesPerLeads_CreatedAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRProfilesPerLeads] ADD  CONSTRAINT [DF_PCRFeaturesPerLeads_UpdatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRProfilesPerLeads] ADD  CONSTRAINT [DF_PCRFeaturesPerLeads_Enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRRoles] ADD  CONSTRAINT [DF_PCRRoles_CreatedAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRRoles] ADD  CONSTRAINT [DF_PCRRoles_UpdatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRRoles] ADD  CONSTRAINT [DF_PCRRoles_Enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRRolesPerUsers] ADD  CONSTRAINT [DF_PCRRolesPerUsers_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRRolesPerUsers] ADD  CONSTRAINT [DF_PCRRolesPerUsers_UpdatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRRolesPerUsers] ADD  CONSTRAINT [DF_PCRRolesPerUsers_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRSaleDetails] ADD  CONSTRAINT [DF_PCRSaleDetails_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRSaleDetails] ADD  CONSTRAINT [DF_PCRSaleDetails_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRSaleDetails] ADD  CONSTRAINT [DF_PCRSaleDetails_Enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRSubscriptionFeatures] ADD  CONSTRAINT [DF_PCRSubscriptionFeatures_CreatedAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRSubscriptionFeatures] ADD  CONSTRAINT [DF_PCRSubscriptionFeatures_UpdatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRSubscriptionFeatures] ADD  CONSTRAINT [DF_PCRSubscriptionFeatures_Enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRSubscriptions] ADD  CONSTRAINT [DF_PCRSubscriptions_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRSubscriptions] ADD  CONSTRAINT [DF_PCRSubscriptions_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRSubscriptions] ADD  CONSTRAINT [DF_PCRSubscriptions_Enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRSubscriptionsPerUser] ADD  CONSTRAINT [DF_PCRSubscriptionsPerUser_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRSubscriptionsPerUser] ADD  CONSTRAINT [DF_PCRSubscriptionsPerUser_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PCRUserContacts] ADD  CONSTRAINT [DF_PCRUserContacts_createdAt]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PCRUserContacts] ADD  CONSTRAINT [DF_PCRUserContacts_enabled]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PCRUserContacts] ADD  CONSTRAINT [DF_PCRUserContacts_deleted]  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[PCRAddresses]  WITH CHECK ADD  CONSTRAINT [FK_PCRAddresses_PCRCities] FOREIGN KEY([IdCity])
REFERENCES [dbo].[PCRCities] ([IdCity])
GO
ALTER TABLE [dbo].[PCRAddresses] CHECK CONSTRAINT [FK_PCRAddresses_PCRCities]
GO
ALTER TABLE [dbo].[PCRAddressPerUser]  WITH CHECK ADD  CONSTRAINT [FK_PCRAddressPerUser_PCRAddresses] FOREIGN KEY([IdAddress])
REFERENCES [dbo].[PCRAddresses] ([IdAddress])
GO
ALTER TABLE [dbo].[PCRAddressPerUser] CHECK CONSTRAINT [FK_PCRAddressPerUser_PCRAddresses]
GO
ALTER TABLE [dbo].[PCRAddressPerUser]  WITH CHECK ADD  CONSTRAINT [FK_PCRAddressPerUser_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRAddressPerUser] CHECK CONSTRAINT [FK_PCRAddressPerUser_PCRUsers]
GO
ALTER TABLE [dbo].[PCRCities]  WITH CHECK ADD  CONSTRAINT [FK_PCRCities_PCRStates] FOREIGN KEY([IdState])
REFERENCES [dbo].[PCRStates] ([IdState])
GO
ALTER TABLE [dbo].[PCRCities] CHECK CONSTRAINT [FK_PCRCities_PCRStates]
GO
ALTER TABLE [dbo].[PCRClientContacts]  WITH CHECK ADD  CONSTRAINT [FK_PCRClientContacts_PCRChannels] FOREIGN KEY([IdChannel])
REFERENCES [dbo].[PCRChannels] ([IdChannel])
GO
ALTER TABLE [dbo].[PCRClientContacts] CHECK CONSTRAINT [FK_PCRClientContacts_PCRChannels]
GO
ALTER TABLE [dbo].[PCRClientContacts]  WITH CHECK ADD  CONSTRAINT [FK_PCRClientContacts_PCRClients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[PCRClients] ([IdClient])
GO
ALTER TABLE [dbo].[PCRClientContacts] CHECK CONSTRAINT [FK_PCRClientContacts_PCRClients]
GO
ALTER TABLE [dbo].[PCRClients]  WITH CHECK ADD  CONSTRAINT [FK_PCRClients_PCRClientStatuses] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PCRClientStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[PCRClients] CHECK CONSTRAINT [FK_PCRClients_PCRClientStatuses]
GO
ALTER TABLE [dbo].[PCREvents]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCREventTypes] FOREIGN KEY([IdEventType])
REFERENCES [dbo].[PCREventTypes] ([IdEventType])
GO
ALTER TABLE [dbo].[PCREvents] CHECK CONSTRAINT [FK_PCREvents_PCREventTypes]
GO
ALTER TABLE [dbo].[PCREvents]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCRLeads] FOREIGN KEY([IdLead])
REFERENCES [dbo].[PCRLeads] ([IdLead])
GO
ALTER TABLE [dbo].[PCREvents] CHECK CONSTRAINT [FK_PCREvents_PCRLeads]
GO
ALTER TABLE [dbo].[PCREvents]  WITH CHECK ADD  CONSTRAINT [FK_PCREvents_PCRUTMData] FOREIGN KEY([IdUTM])
REFERENCES [dbo].[PCRUTMData] ([IdUTM])
GO
ALTER TABLE [dbo].[PCREvents] CHECK CONSTRAINT [FK_PCREvents_PCRUTMData]
GO
ALTER TABLE [dbo].[PCRFeatureConfigurations]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeatureConfigurations_PCRFeatureValues] FOREIGN KEY([IdFeatureValue])
REFERENCES [dbo].[PCRFeatureValues] ([IdFeatureValue])
GO
ALTER TABLE [dbo].[PCRFeatureConfigurations] CHECK CONSTRAINT [FK_PCRFeatureConfigurations_PCRFeatureValues]
GO
ALTER TABLE [dbo].[PCRFeatureConfigurations]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeatureConfigurations_PCRProfiles] FOREIGN KEY([IdProfile])
REFERENCES [dbo].[PCRProfiles] ([IdProfile])
GO
ALTER TABLE [dbo].[PCRFeatureConfigurations] CHECK CONSTRAINT [FK_PCRFeatureConfigurations_PCRProfiles]
GO
ALTER TABLE [dbo].[PCRFeaturesPerSubscription]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionFeatures] FOREIGN KEY([IdFeature])
REFERENCES [dbo].[PCRSubscriptionFeatures] ([IdFeature])
GO
ALTER TABLE [dbo].[PCRFeaturesPerSubscription] CHECK CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionFeatures]
GO
ALTER TABLE [dbo].[PCRFeaturesPerSubscription]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionTiers] FOREIGN KEY([IdSubscription])
REFERENCES [dbo].[PCRSubscriptions] ([IdSubscription])
GO
ALTER TABLE [dbo].[PCRFeaturesPerSubscription] CHECK CONSTRAINT [FK_PCRFeaturesPerTiers_PCRSubscriptionTiers]
GO
ALTER TABLE [dbo].[PCRFeatureValues]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeatureValues_PCRFeatureTypes] FOREIGN KEY([IdFeatureType])
REFERENCES [dbo].[PCRFeatureTypes] ([IdFeatureType])
GO
ALTER TABLE [dbo].[PCRFeatureValues] CHECK CONSTRAINT [FK_PCRFeatureValues_PCRFeatureTypes]
GO
ALTER TABLE [dbo].[PCRLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRLeads_PCRLeadStatuses] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PCRLeadStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[PCRLeads] CHECK CONSTRAINT [FK_PCRLeads_PCRLeadStatuses]
GO
ALTER TABLE [dbo].[PCRLogs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogLevels] FOREIGN KEY([IdLogLevel])
REFERENCES [dbo].[PCRLogLevels] ([IdLogLevel])
GO
ALTER TABLE [dbo].[PCRLogs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogLevels]
GO
ALTER TABLE [dbo].[PCRLogs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogSources] FOREIGN KEY([IdLogSource])
REFERENCES [dbo].[PCRLogSources] ([IdLogSource])
GO
ALTER TABLE [dbo].[PCRLogs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogSources]
GO
ALTER TABLE [dbo].[PCRLogs]  WITH CHECK ADD  CONSTRAINT [FK_PCRLogs_PCRLogTypes] FOREIGN KEY([IdLogType])
REFERENCES [dbo].[PCRLogTypes] ([IdLogType])
GO
ALTER TABLE [dbo].[PCRLogs] CHECK CONSTRAINT [FK_PCRLogs_PCRLogTypes]
GO
ALTER TABLE [dbo].[PCRPaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRPaymentTransactions_PCRPaymentMethods] FOREIGN KEY([IdPaymentMethod])
REFERENCES [dbo].[PCRPaymentMethods] ([IdPaymentMethod])
GO
ALTER TABLE [dbo].[PCRPaymentTransactions] CHECK CONSTRAINT [FK_PCRPaymentTransactions_PCRPaymentMethods]
GO
ALTER TABLE [dbo].[PCRPaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRTransactions_PCRTransactionTypes] FOREIGN KEY([IdType])
REFERENCES [dbo].[PCRPaymentTransactionTypes] ([IdType])
GO
ALTER TABLE [dbo].[PCRPaymentTransactions] CHECK CONSTRAINT [FK_PCRTransactions_PCRTransactionTypes]
GO
ALTER TABLE [dbo].[PCRPaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PCRTransactions_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRPaymentTransactions] CHECK CONSTRAINT [FK_PCRTransactions_PCRUsers]
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerRoles_PCRPermissions] FOREIGN KEY([IdPermission])
REFERENCES [dbo].[PCRPermissions] ([IdPermission])
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles] CHECK CONSTRAINT [FK_PCRPermissionsPerRoles_PCRPermissions]
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles]  WITH CHECK ADD  CONSTRAINT [FK_PCRPermissionsPerRoles_PCRUserRoles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[PCRRoles] ([IdRole])
GO
ALTER TABLE [dbo].[PCRPermissionsPerRoles] CHECK CONSTRAINT [FK_PCRPermissionsPerRoles_PCRUserRoles]
GO
ALTER TABLE [dbo].[PCRProfilesPerClients]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerClients_PCRClients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[PCRClients] ([IdClient])
GO
ALTER TABLE [dbo].[PCRProfilesPerClients] CHECK CONSTRAINT [FK_PCRFeaturesPerClients_PCRClients]
GO
ALTER TABLE [dbo].[PCRProfilesPerClients]  WITH CHECK ADD  CONSTRAINT [FK_PCRProfilesPerClients_PCRProfiles] FOREIGN KEY([IdProfile])
REFERENCES [dbo].[PCRProfiles] ([IdProfile])
GO
ALTER TABLE [dbo].[PCRProfilesPerClients] CHECK CONSTRAINT [FK_PCRProfilesPerClients_PCRProfiles]
GO
ALTER TABLE [dbo].[PCRProfilesPerLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRFeaturesPerLeads_PCRLeads] FOREIGN KEY([IdLead])
REFERENCES [dbo].[PCRLeads] ([IdLead])
GO
ALTER TABLE [dbo].[PCRProfilesPerLeads] CHECK CONSTRAINT [FK_PCRFeaturesPerLeads_PCRLeads]
GO
ALTER TABLE [dbo].[PCRProfilesPerLeads]  WITH CHECK ADD  CONSTRAINT [FK_PCRProfilesPerLeads_PCRProfiles] FOREIGN KEY([IdProfile])
REFERENCES [dbo].[PCRProfiles] ([IdProfile])
GO
ALTER TABLE [dbo].[PCRProfilesPerLeads] CHECK CONSTRAINT [FK_PCRProfilesPerLeads_PCRProfiles]
GO
ALTER TABLE [dbo].[PCRRolesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRRolesPerUsers_PCRUserRoles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[PCRRoles] ([IdRole])
GO
ALTER TABLE [dbo].[PCRRolesPerUsers] CHECK CONSTRAINT [FK_PCRRolesPerUsers_PCRUserRoles]
GO
ALTER TABLE [dbo].[PCRRolesPerUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRRolesPerUsers_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRRolesPerUsers] CHECK CONSTRAINT [FK_PCRRolesPerUsers_PCRUsers]
GO
ALTER TABLE [dbo].[PCRSaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_PCRSaleDetails_PCRSalesHistory] FOREIGN KEY([IdSale])
REFERENCES [dbo].[PCRSalesHistory] ([IdSale])
GO
ALTER TABLE [dbo].[PCRSaleDetails] CHECK CONSTRAINT [FK_PCRSaleDetails_PCRSalesHistory]
GO
ALTER TABLE [dbo].[PCRSalesHistory]  WITH CHECK ADD  CONSTRAINT [FK_PCRSalesHistory_PCRClients] FOREIGN KEY([IdClient])
REFERENCES [dbo].[PCRClients] ([IdClient])
GO
ALTER TABLE [dbo].[PCRSalesHistory] CHECK CONSTRAINT [FK_PCRSalesHistory_PCRClients]
GO
ALTER TABLE [dbo].[PCRSalesHistory]  WITH CHECK ADD  CONSTRAINT [FK_PCRSalesHistory_PCRUTMData] FOREIGN KEY([IdUTM])
REFERENCES [dbo].[PCRUTMData] ([IdUTM])
GO
ALTER TABLE [dbo].[PCRSalesHistory] CHECK CONSTRAINT [FK_PCRSalesHistory_PCRUTMData]
GO
ALTER TABLE [dbo].[PCRStates]  WITH CHECK ADD  CONSTRAINT [FK_PCRStates_PCRCountries] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[PCRCountries] ([IdCountry])
GO
ALTER TABLE [dbo].[PCRStates] CHECK CONSTRAINT [FK_PCRStates_PCRCountries]
GO
ALTER TABLE [dbo].[PCRSubscriptionsPerUser]  WITH CHECK ADD  CONSTRAINT [FK_PCRSubscriptionsPerUser_PCRSubscriptions] FOREIGN KEY([IdSubscription])
REFERENCES [dbo].[PCRSubscriptions] ([IdSubscription])
GO
ALTER TABLE [dbo].[PCRSubscriptionsPerUser] CHECK CONSTRAINT [FK_PCRSubscriptionsPerUser_PCRSubscriptions]
GO
ALTER TABLE [dbo].[PCRSubscriptionsPerUser]  WITH CHECK ADD  CONSTRAINT [FK_PCRSubscriptionsPerUser_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRSubscriptionsPerUser] CHECK CONSTRAINT [FK_PCRSubscriptionsPerUser_PCRUsers]
GO
ALTER TABLE [dbo].[PCRUserContacts]  WITH CHECK ADD  CONSTRAINT [FK_PCRUserContacts_PCRChannels] FOREIGN KEY([IdChannel])
REFERENCES [dbo].[PCRChannels] ([IdChannel])
GO
ALTER TABLE [dbo].[PCRUserContacts] CHECK CONSTRAINT [FK_PCRUserContacts_PCRChannels]
GO
ALTER TABLE [dbo].[PCRUserContacts]  WITH CHECK ADD  CONSTRAINT [FK_PCRUserContacts_PCRUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PCRUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PCRUserContacts] CHECK CONSTRAINT [FK_PCRUserContacts_PCRUsers]
GO
ALTER TABLE [dbo].[PCRUsers]  WITH CHECK ADD  CONSTRAINT [FK_PCRUsers_PCRUserStatuses] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PCRUserStatuses] ([IdStatus])
GO
ALTER TABLE [dbo].[PCRUsers] CHECK CONSTRAINT [FK_PCRUsers_PCRUserStatuses]
GO
USE [master]
GO
