
GO
USE [promptsales]
GO
/****** Object:  Table [dbo].[PSAddresses]    Script Date: 29/11/2025 19:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSAddresses](
	[IdAddress] [int] IDENTITY(1,1) NOT NULL,
	[line1] [varchar](200) NOT NULL,
	[line2] [varchar](200) NULL,
	[zipcode] [varchar](10) NOT NULL,
	[geolocation] [varchar](50) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[IdCity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSAdStatus]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSAdStatus](
	[IdStatus] [tinyint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PSAdStatus] PRIMARY KEY CLUSTERED 
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSAPICallLogs]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSAPICallLogs](
	[IdAPICallLog] [int] IDENTITY(1,1) NOT NULL,
	[IdAPIConfig] [int] NOT NULL,
	[requestTimestamp] [timestamp] NOT NULL,
	[endPoint] [varchar](200) NOT NULL,
	[httpMethod] [varchar](10) NOT NULL,
	[requestHeaders] [nvarchar](max) NOT NULL,
	[requestBody] [nvarchar](max) NOT NULL,
	[requestSize] [int] NOT NULL,
	[responseTimestamp] [datetime] NOT NULL,
	[statuscode] [int] NOT NULL,
	[responseHeaders] [nvarchar](max) NOT NULL,
	[responseBody] [nvarchar](max) NOT NULL,
	[responseSize] [int] NOT NULL,
	[requestTimeMs] [datetime] NOT NULL,
	[responseTimeMs] [datetime] NOT NULL,
	[isSuccess] [bit] NOT NULL,
	[errorMessage] [text] NOT NULL,
	[errorCode] [varchar](max) NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSAPICal__9DE2C174063A7CDF] PRIMARY KEY CLUSTERED 
(
	[IdAPICallLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSAPIConfig]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSAPIConfig](
	[IdAPIConfig] [int] IDENTITY(1,1) NOT NULL,
	[apiName] [varchar](100) NOT NULL,
	[apiProvider] [varchar](100) NOT NULL,
	[apiVersion] [varchar](20) NOT NULL,
	[baseURL] [varchar](255) NOT NULL,
	[IdAuthMethod] [int] NOT NULL,
	[apiKey] [varbinary](max) NOT NULL,
	[clientSecret] [varbinary](max) NOT NULL,
	[accessToken] [varbinary](max) NOT NULL,
	[tokenExpiresAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[IdService] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAPIConfig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSAuthMethods]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSAuthMethods](
	[IdAuthMethod] [int] IDENTITY(1,1) NOT NULL,
	[methodName] [varchar](30) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuthMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCampaignMarkets]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCampaignMarkets](
	[IdCampaignMarket] [int] IDENTITY(1,1) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[IdCity] [bigint] NULL,
	[conversions] [int] NOT NULL,
	[totalRevenue] [decimal](16, 2) NOT NULL,
	[leads] [int] NOT NULL,
	[spent] [int] NOT NULL,
	[marketROI] [decimal](16, 2) NOT NULL,
	[conversionRate] [decimal](5, 2) NOT NULL,
	[averageOrderValie] [decimal](16, 2) NOT NULL,
	[targetPublicName] [varchar](max) NOT NULL,
	[targetPublicId] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSCampai__CB85AAB209B0A0D8] PRIMARY KEY CLUSTERED 
(
	[IdCampaignMarket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCampaignMetrics]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCampaignMetrics](
	[IdCampaignMetric] [int] IDENTITY(1,1) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[metricDate] [datetime] NOT NULL,
	[totalLeads] [int] NOT NULL,
	[qualifiedLeads] [int] NULL,
	[totalConversions] [int] NULL,
	[conversionRate] [decimal](5, 2) NULL,
	[dailySpent] [decimal](16, 2) NULL,
	[dailyRevenue] [decimal](16, 2) NULL,
	[costPerLead] [decimal](16, 2) NULL,
	[costPerConversion] [decimal](16, 2) NULL,
	[averageOrderValue] [decimal](16, 2) NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[dataSource] [varchar](40) NOT NULL,
 CONSTRAINT [PK__PSCampai__D3E57CDC3469E728] PRIMARY KEY CLUSTERED 
(
	[IdCampaignMetric] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCampaignMetricsReactions]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCampaignMetricsReactions](
	[IdCampaignMetricReaction] [int] IDENTITY(1,1) NOT NULL,
	[IdReactionType] [int] NOT NULL,
	[IdCampaignMetric] [int] NOT NULL,
	[reactionCount] [bigint] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PSCampaignMetricsReactions] PRIMARY KEY CLUSTERED 
(
	[IdCampaignMetricReaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCampaigns]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCampaigns](
	[IdCampaign] [int] IDENTITY(1,1) NOT NULL,
	[IdOrganization] [int] NOT NULL,
	[campaignName] [varchar](40) NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NOT NULL,
	[IdCampaignStatus] [int] NOT NULL,
	[totalBudget] [decimal](16, 2) NOT NULL,
	[totalSpent] [decimal](16, 2) NOT NULL,
	[totalRevenue] [decimal](16, 2) NOT NULL,
	[ROI] [decimal](16, 2) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[lastETLupdate] [datetime] NOT NULL,
	[sourceServiceId] [int] NOT NULL,
	[sourceServiceName] [int] NOT NULL,
	[IdRunLog] [bigint] NOT NULL,
 CONSTRAINT [PK__PSCampai__0AC41583ECBAA0D2] PRIMARY KEY CLUSTERED 
(
	[IdCampaign] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCampaignStatus]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCampaignStatus](
	[IdCampaignStatus] [int] IDENTITY(1,1) NOT NULL,
	[statusName] [varchar](30) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[isActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCampaignStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSChannels]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSChannels](
	[IdChannel] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdChannel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCities]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCities](
	[IdCIty] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[IdState] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCIty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSContentUsage]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSContentUsage](
	[IdContentUsage] [bigint] IDENTITY(1,1) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[contentId] [varchar](200) NOT NULL,
	[contentType] [varchar](30) NOT NULL,
	[contentTitle] [varchar](200) NULL,
	[IdChannel] [int] NOT NULL,
	[hashtags] [text] NULL,
	[contentURL] [varchar](500) NOT NULL,
	[usageCount] [int] NOT NULL,
	[usedInAds] [text] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSConten__29D6A5FECB456FD8] PRIMARY KEY CLUSTERED 
(
	[IdContentUsage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCountries]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCountries](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCRUDRawData]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCRUDRawData](
	[IdCrud] [bigint] IDENTITY(1,1) NOT NULL,
	[targetTable] [varchar](40) NOT NULL,
	[executionTimeMs] [decimal](16, 2) NOT NULL,
	[isProcessed] [bit] NOT NULL,
	[targetRecordID] [varchar](100) NOT NULL,
	[IdRawData] [bigint] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSCRUDRa__37902F185AF1FE0E] PRIMARY KEY CLUSTERED 
(
	[IdCrud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSCurrencies]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSCurrencies](
	[IdCurrency] [smallint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[isoCode] [varchar](3) NOT NULL,
	[currencySymbol] [varchar](5) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[IdCountry] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCurrency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSETLConfig]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSETLConfig](
	[IdConfig] [int] IDENTITY(1,1) NOT NULL,
	[IdConnection] [int] NOT NULL,
	[connectionString] [text] NOT NULL,
	[priority] [int] NOT NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConfig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSETLDelta]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSETLDelta](
	[IdETLDelta] [int] IDENTITY(1,1) NOT NULL,
	[database] [varchar](30) NOT NULL,
	[view] [varchar](50) NOT NULL,
	[lastInput] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[IdRunLog] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdETLDelta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSETLRunLogs]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSETLRunLogs](
	[IdRunLog] [int] IDENTITY(1,1) NOT NULL,
	[IdConfig] [int] NOT NULL,
	[runStart] [datetime] NOT NULL,
	[runEnd] [datetime] NOT NULL,
	[rowsProcessed] [int] NOT NULL,
	[message] [text] NOT NULL,
	[lastProcessedID] [bigint] NOT NULL,
	[recordsFailed] [bigint] NOT NULL,
	[recordsInserted] [bigint] NOT NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRunLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSExchangeRates]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSExchangeRates](
	[IdExchangeRate] [int] IDENTITY(1,1) NOT NULL,
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NULL,
	[exchangeRate] [decimal](16, 2) NOT NULL,
	[IdCurrencyDestiny] [smallint] NOT NULL,
	[IdCurrencySource] [smallint] NOT NULL,
	[current] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSExchan__8EDBCC13E71EEEFF] PRIMARY KEY CLUSTERED 
(
	[IdExchangeRate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSFeatures]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSFeatures](
	[IdFeature] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[description] [varchar](150) NOT NULL,
	[dataType] [varchar](30) NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSFeatur__5259D5DD80C4B538] PRIMARY KEY CLUSTERED 
(
	[IdFeature] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSFeaturesPerSuscription]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSFeaturesPerSuscription](
	[IdSubscription] [int] NOT NULL,
	[IdFeature] [int] NOT NULL,
	[value] [varchar](80) NULL,
	[unlimited] [bit] NOT NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSLeadsSumarry]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSLeadsSumarry](
	[IdLeadSumarry] [int] IDENTITY(1,1) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[sumarryDate] [datetime] NOT NULL,
	[totalLeads] [int] NOT NULL,
	[currentLeads] [int] NOT NULL,
	[qualifiedLeads] [int] NOT NULL,
	[convertedLeads] [int] NOT NULL,
	[rejectedLeads] [int] NOT NULL,
	[qualificationRate] [decimal](5, 2) NOT NULL,
	[conversionRate] [decimal](5, 2) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSLeadsS__8C32B291DEF89ABD] PRIMARY KEY CLUSTERED 
(
	[IdLeadSumarry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSLogLevels]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSLogLevels](
	[IdLogLevel] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLogLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSLogs]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSLogs](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](500) NOT NULL,
	[computer] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[IdRef1] [bigint] NULL,
	[IdRef2] [bigint] NULL,
	[value1] [varchar](200) NULL,
	[value2] [varchar](200) NULL,
	[createdAt] [datetime] NOT NULL,
	[IdLogType] [int] NOT NULL,
	[IdLogLevel] [int] NOT NULL,
	[IdLogSource] [int] NOT NULL,
	[checksum] [varbinary](500) NULL,
 CONSTRAINT [PK_PSLogs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSLogSources]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSLogSources](
	[IdLogSource] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLogSource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSLogTypes]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSLogTypes](
	[IdLogType] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLogType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSMCPRequestLogs]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSMCPRequestLogs](
	[IdMCPRequestLog] [int] IDENTITY(1,1) NOT NULL,
	[IdMCPServer] [int] NOT NULL,
	[requestTimestamp] [timestamp] NOT NULL,
	[toolName] [varchar](100) NOT NULL,
	[toolInput] [nvarchar](max) NOT NULL,
	[responseTimestamp] [datetime] NOT NULL,
	[responseTimeMs] [datetime] NOT NULL,
	[isSuccess] [bit] NOT NULL,
	[errorMesagge] [text] NOT NULL,
	[errorType] [varchar](50) NOT NULL,
	[tokenUsage] [int] NOT NULL,
	[costEstimate] [decimal](16, 2) NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSMCPReq__F01408014CB6BA11] PRIMARY KEY CLUSTERED 
(
	[IdMCPRequestLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSMCPServerConfig]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSMCPServerConfig](
	[IdMCPServer] [int] IDENTITY(1,1) NOT NULL,
	[serverName] [varchar](100) NOT NULL,
	[serverType] [varchar](50) NOT NULL,
	[description] [varchar](300) NOT NULL,
	[serverURL] [varchar](255) NOT NULL,
	[serverPort] [int] NOT NULL,
	[IdAuthMethod] [int] NOT NULL,
	[authToken] [varbinary](max) NOT NULL,
	[availableTools] [varchar](300) NOT NULL,
	[isActive] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[IdService] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMCPServer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSOrganizations]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSOrganizations](
	[IdOrganization] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[enabled] [bit] NOT NULL,
	[cedulaJuridica] [varchar](30) NOT NULL,
	[sociedadAnonima] [varchar](40) NOT NULL,
	[addressNoFiscal] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrganization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSPaymentMethods]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSPaymentMethods](
	[IdPaymentMethod] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[description] [varchar](150) NOT NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSPayments]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSPayments](
	[IdPayment] [bigint] IDENTITY(1,1) NOT NULL,
	[transactionAmount] [decimal](16, 2) NOT NULL,
	[IdCurrency] [int] NOT NULL,
	[description] [varchar](200) NULL,
	[paymentDate] [datetime] NOT NULL,
	[IdPaymentType] [int] NOT NULL,
	[IdPaymentStatus] [int] NOT NULL,
	[IdPaymentMethod] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[IdUser] [int] NOT NULL,
	[checksum] [varbinary](255) NULL,
 CONSTRAINT [PK_PSPayments] PRIMARY KEY CLUSTERED 
(
	[IdPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSPaymentStatus]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSPaymentStatus](
	[IdPaymentStatus] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaymentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSPaymentTypes]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSPaymentTypes](
	[IdPaymentType] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaymentType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSPermissions]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSPermissions](
	[IdPermission] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[description] [varchar](30) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSPermissionsPerRole]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSPermissionsPerRole](
	[IdRole] [int] NOT NULL,
	[IdPermission] [int] NOT NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSPublishedAds]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSPublishedAds](
	[IdPublishedAd] [bigint] IDENTITY(1,1) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[IdChannel] [int] NOT NULL,
	[influencerName] [varchar](50) NULL,
	[body] [text] NOT NULL,
	[redirectURL] [varchar](256) NOT NULL,
	[budget] [decimal](16, 2) NOT NULL,
	[expenses] [decimal](16, 2) NOT NULL,
	[IdSentiment] [tinyint] NOT NULL,
	[publishedAt] [datetime] NOT NULL,
	[IdStatus] [tinyint] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSPublis__EB8CD6B1CBFB833A] PRIMARY KEY CLUSTERED 
(
	[IdPublishedAd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSPublishedAdsReactions]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSPublishedAdsReactions](
	[IdPublishedAdReaction] [int] IDENTITY(1,1) NOT NULL,
	[IdReactionType] [int] NOT NULL,
	[IdPublishedAd] [bigint] NOT NULL,
	[reactionCount] [bigint] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PSPublishedAdsReactions] PRIMARY KEY CLUSTERED 
(
	[IdPublishedAdReaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSRawData]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSRawData](
	[IdRawData] [bigint] IDENTITY(1,1) NOT NULL,
	[sourceService] [varchar](30) NOT NULL,
	[sourceTable] [varchar](60) NOT NULL,
	[sourceRecordID] [varchar](100) NOT NULL,
	[operationType] [varchar](30) NOT NULL,
	[isProcessed] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updateAt] [datetime] NOT NULL,
	[IdRunLog] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRawData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSReactionTypes]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSReactionTypes](
	[IdReactionType] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSReacti__A059A6E08032491C] PRIMARY KEY CLUSTERED 
(
	[IdReactionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSRoles]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSRoles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSRolesPerUser]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSRolesPerUser](
	[IdUser] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSSalesSumarry]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSSalesSumarry](
	[IdSaleSumarry] [int] IDENTITY(1,1) NOT NULL,
	[IdCampaign] [int] NOT NULL,
	[saleDate] [datetime] NOT NULL,
	[totalSales] [int] NOT NULL,
	[totalRevenue] [decimal](16, 2) NOT NULL,
	[averageOrderValue] [decimal](16, 2) NOT NULL,
	[IdCurrency] [smallint] NOT NULL,
	[productCategory] [varchar](40) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSSalesS__EF7F0ED41BCDB088] PRIMARY KEY CLUSTERED 
(
	[IdSaleSumarry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSSentiments]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSSentiments](
	[IdSentiment] [tinyint] NOT NULL,
	[name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_PSSentiments] PRIMARY KEY CLUSTERED 
(
	[IdSentiment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSServiceConnectionConfig]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSServiceConnectionConfig](
	[IdConnection] [int] IDENTITY(1,1) NOT NULL,
	[connectionName] [varchar](100) NOT NULL,
	[connectionType] [varchar](20) NOT NULL,
	[credentials] [text] NOT NULL,
	[endpoint] [text] NOT NULL,
	[metadata] [nvarchar](max) NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[IdSourceService] [int] NOT NULL,
	[IdTargetService] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdConnection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSServiceConnectionLogs]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSServiceConnectionLogs](
	[IdServiceLog] [int] IDENTITY(1,1) NOT NULL,
	[IdConnection] [int] NOT NULL,
	[message] [text] NULL,
	[connectionResult] [varchar](30) NOT NULL,
	[totalRequests] [bigint] NOT NULL,
	[succesfullRequests] [bigint] NOT NULL,
	[createdAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServiceLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSServices]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSServices](
	[IdService] [int] IDENTITY(1,1) NOT NULL,
	[serviceName] [varchar](40) NOT NULL,
	[IdServiceType] [int] NOT NULL,
	[description] [varchar](200) NOT NULL,
	[databaseType] [varchar](20) NOT NULL,
	[primaryURL] [varchar](255) NOT NULL,
	[enabled] [bit] NOT NULL,
	[currentVersion] [varchar](20) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSServiceTypes]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSServiceTypes](
	[IdServiceType] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[createdAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSServic__7FB4624D98779A96] PRIMARY KEY CLUSTERED 
(
	[IdServiceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSStates]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSStates](
	[IdState] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[IdCountry] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdState] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSSubscriptions]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSSubscriptions](
	[IdSubscription] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[description] [varchar](200) NOT NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[pricing] [decimal](16, 2) NOT NULL,
	[IdCurrencyType] [int] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__PSSubscr__929CA0FF1A448D11] PRIMARY KEY CLUSTERED 
(
	[IdSubscription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSSubscriptionsPerUser]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSSubscriptionsPerUser](
	[IdSubscription] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSUserContactInfo]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSUserContactInfo](
	[IdUserContactInfo] [int] IDENTITY(1,1) NOT NULL,
	[contact] [varchar](120) NOT NULL,
	[enabled] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdChannel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUserContactInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSUsers]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSUsers](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](30) NOT NULL,
	[lastName] [varchar](30) NOT NULL,
	[passwordHash] [varbinary](max) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[lastLogin] [datetime] NOT NULL,
	[checksum] [varbinary](255) NOT NULL,
	[IdUserStatus] [int] NOT NULL,
 CONSTRAINT [PK__PSUsers__B7C92638FEB2FF69] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSUserStatus]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSUserStatus](
	[IdUserStatus] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUserStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSUsersXOrganization]    Script Date: 29/11/2025 19:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSUsersXOrganization](
	[IdOrganization] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[enabled] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PSAddresses] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSAPICallLogs] ADD  CONSTRAINT [DF__PSAPICall__creat__6166761E]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSAPIConfig] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSAPIConfig] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSAuthMethods] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSAuthMethods] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSCampaignMarkets] ADD  CONSTRAINT [DF__PSCampaig__creat__40058253]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSCampaignMetrics] ADD  CONSTRAINT [DF__PSCampaig__creat__3D2915A8]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSCampaignMetrics] ADD  CONSTRAINT [DF_PSCampaignMetrics_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PSCampaignMetricsReactions] ADD  CONSTRAINT [DF__PSCampaig__creat__7A3223E8]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSCampaigns] ADD  CONSTRAINT [DF__PSCampaig__IdCam__395884C4]  DEFAULT ((1)) FOR [IdCampaignStatus]
GO
ALTER TABLE [dbo].[PSCampaigns] ADD  CONSTRAINT [DF__PSCampaig__creat__3A4CA8FD]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSCampaignStatus] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[PSContentUsage] ADD  CONSTRAINT [DF__PSContent__creat__489AC854]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSCRUDRawData] ADD  CONSTRAINT [DF__PSCRUDRaw__isPro__03BB8E22]  DEFAULT ((0)) FOR [isProcessed]
GO
ALTER TABLE [dbo].[PSCRUDRawData] ADD  CONSTRAINT [DF__PSCRUDRaw__creat__04AFB25B]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSCurrencies] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSETLConfig] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSETLConfig] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSETLConfig] ADD  CONSTRAINT [DF_PSETLConfig_updatedAt]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PSETLDelta] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSETLRunLogs] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSExchangeRates] ADD  CONSTRAINT [DF__PSExchang__curre__68487DD7]  DEFAULT ((1)) FOR [current]
GO
ALTER TABLE [dbo].[PSExchangeRates] ADD  CONSTRAINT [DF__PSExchang__creat__693CA210]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSFeatures] ADD  CONSTRAINT [DF__PSFeature__creat__2CF2ADDF]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSFeaturesPerSuscription] ADD  CONSTRAINT [DF__PSFeature__enabl__32AB8735]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSFeaturesPerSuscription] ADD  CONSTRAINT [DF__PSFeature__creat__339FAB6E]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSLeadsSumarry] ADD  CONSTRAINT [DF__PSLeadsSu__creat__42E1EEFE]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSLogs] ADD  CONSTRAINT [DF__PSLogs__createdA__5BE2A6F2]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSMCPRequestLogs] ADD  CONSTRAINT [DF__PSMCPRequ__isSuc__6442E2C9]  DEFAULT ((0)) FOR [isSuccess]
GO
ALTER TABLE [dbo].[PSMCPRequestLogs] ADD  CONSTRAINT [DF__PSMCPRequ__creat__65370702]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSMCPServerConfig] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[PSMCPServerConfig] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSOrganizations] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSPaymentMethods] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSPayments] ADD  CONSTRAINT [DF__PSPayment__creat__74AE54BC]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSPaymentStatus] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSPaymentTypes] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSPermissions] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSPermissionsPerRole] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSPermissionsPerRole] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSPublishedAds] ADD  CONSTRAINT [DF_PSPublishedAds_budget]  DEFAULT ((0.00)) FOR [budget]
GO
ALTER TABLE [dbo].[PSPublishedAds] ADD  CONSTRAINT [DF_PSPublishedAds_expenses]  DEFAULT ((0.00)) FOR [expenses]
GO
ALTER TABLE [dbo].[PSPublishedAds] ADD  CONSTRAINT [DF__PSPublish__creat__078C1F06]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSPublishedAdsReactions] ADD  CONSTRAINT [DF__PSPublish__creat__09746778]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSRawData] ADD  DEFAULT ((0)) FOR [isProcessed]
GO
ALTER TABLE [dbo].[PSRawData] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSReactionTypes] ADD  CONSTRAINT [DF__PSReactio__creat__7849DB76]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSRoles] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSRolesPerUser] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSRolesPerUser] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSSalesSumarry] ADD  CONSTRAINT [DF__PSSalesSu__creat__45BE5BA9]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSServiceConnectionConfig] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSServiceConnectionConfig] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSServiceConnectionLogs] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSServices] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSServices] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSServiceTypes] ADD  CONSTRAINT [DF__PSService__creat__6FB49575]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSSubscriptions] ADD  CONSTRAINT [DF__PSSubscri__enabl__2FCF1A8A]  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSSubscriptions] ADD  CONSTRAINT [DF__PSSubscri__creat__30C33EC3]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSSubscriptionsPerUser] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSSubscriptionsPerUser] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSUserContactInfo] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSUserContactInfo] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSUsers] ADD  CONSTRAINT [DF__PSUsers__created__37A5467C]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSUsersXOrganization] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PSUsersXOrganization] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[PSAddresses]  WITH CHECK ADD  CONSTRAINT [FK_PSAddresses_PSCities] FOREIGN KEY([IdCity])
REFERENCES [dbo].[PSCities] ([IdCIty])
GO
ALTER TABLE [dbo].[PSAddresses] CHECK CONSTRAINT [FK_PSAddresses_PSCities]
GO
ALTER TABLE [dbo].[PSAPICallLogs]  WITH CHECK ADD  CONSTRAINT [FK_PSAPICallLogs_PSAPIConfig] FOREIGN KEY([IdAPIConfig])
REFERENCES [dbo].[PSAPIConfig] ([IdAPIConfig])
GO
ALTER TABLE [dbo].[PSAPICallLogs] CHECK CONSTRAINT [FK_PSAPICallLogs_PSAPIConfig]
GO
ALTER TABLE [dbo].[PSAPIConfig]  WITH CHECK ADD  CONSTRAINT [FK_PSAPIConfig_PSAuthMethods] FOREIGN KEY([IdAuthMethod])
REFERENCES [dbo].[PSAuthMethods] ([IdAuthMethod])
GO
ALTER TABLE [dbo].[PSAPIConfig] CHECK CONSTRAINT [FK_PSAPIConfig_PSAuthMethods]
GO
ALTER TABLE [dbo].[PSAPIConfig]  WITH CHECK ADD  CONSTRAINT [FK_PSAPIConfig_PSServices] FOREIGN KEY([IdService])
REFERENCES [dbo].[PSServices] ([IdService])
GO
ALTER TABLE [dbo].[PSAPIConfig] CHECK CONSTRAINT [FK_PSAPIConfig_PSServices]
GO
ALTER TABLE [dbo].[PSCampaignMarkets]  WITH CHECK ADD  CONSTRAINT [FK_PSCampaignMarkets_PSCampaigns] FOREIGN KEY([IdCampaign])
REFERENCES [dbo].[PSCampaigns] ([IdCampaign])
GO
ALTER TABLE [dbo].[PSCampaignMarkets] CHECK CONSTRAINT [FK_PSCampaignMarkets_PSCampaigns]
GO
ALTER TABLE [dbo].[PSCampaignMetrics]  WITH CHECK ADD  CONSTRAINT [FK_PSCampaignMetrics_PSCampaigns] FOREIGN KEY([IdCampaign])
REFERENCES [dbo].[PSCampaigns] ([IdCampaign])
GO
ALTER TABLE [dbo].[PSCampaignMetrics] CHECK CONSTRAINT [FK_PSCampaignMetrics_PSCampaigns]
GO
ALTER TABLE [dbo].[PSCampaignMetricsReactions]  WITH CHECK ADD  CONSTRAINT [FK_PSCampaignMetricsReactions_PSCampaignMetrics] FOREIGN KEY([IdCampaignMetric])
REFERENCES [dbo].[PSCampaignMetrics] ([IdCampaignMetric])
GO
ALTER TABLE [dbo].[PSCampaignMetricsReactions] CHECK CONSTRAINT [FK_PSCampaignMetricsReactions_PSCampaignMetrics]
GO
ALTER TABLE [dbo].[PSCampaignMetricsReactions]  WITH CHECK ADD  CONSTRAINT [FK_PSCampaignMetricsReactions_PSReactionTypes] FOREIGN KEY([IdReactionType])
REFERENCES [dbo].[PSReactionTypes] ([IdReactionType])
GO
ALTER TABLE [dbo].[PSCampaignMetricsReactions] CHECK CONSTRAINT [FK_PSCampaignMetricsReactions_PSReactionTypes]
GO
ALTER TABLE [dbo].[PSCampaigns]  WITH CHECK ADD  CONSTRAINT [FK_PSCampaigns_PSCampaignStatus] FOREIGN KEY([IdCampaignStatus])
REFERENCES [dbo].[PSCampaignStatus] ([IdCampaignStatus])
GO
ALTER TABLE [dbo].[PSCampaigns] CHECK CONSTRAINT [FK_PSCampaigns_PSCampaignStatus]
GO
ALTER TABLE [dbo].[PSCampaigns]  WITH CHECK ADD  CONSTRAINT [FK_PSCampaigns_PSOrganizations] FOREIGN KEY([IdOrganization])
REFERENCES [dbo].[PSOrganizations] ([IdOrganization])
GO
ALTER TABLE [dbo].[PSCampaigns] CHECK CONSTRAINT [FK_PSCampaigns_PSOrganizations]
GO
ALTER TABLE [dbo].[PSCities]  WITH CHECK ADD  CONSTRAINT [FK_PSCities_PSStates] FOREIGN KEY([IdState])
REFERENCES [dbo].[PSStates] ([IdState])
GO
ALTER TABLE [dbo].[PSCities] CHECK CONSTRAINT [FK_PSCities_PSStates]
GO
ALTER TABLE [dbo].[PSContentUsage]  WITH CHECK ADD  CONSTRAINT [FK_PSContentUsage_PSCampaigns] FOREIGN KEY([IdCampaign])
REFERENCES [dbo].[PSCampaigns] ([IdCampaign])
GO
ALTER TABLE [dbo].[PSContentUsage] CHECK CONSTRAINT [FK_PSContentUsage_PSCampaigns]
GO
ALTER TABLE [dbo].[PSContentUsage]  WITH CHECK ADD  CONSTRAINT [FK_PSContentUsage_PSChannels] FOREIGN KEY([IdChannel])
REFERENCES [dbo].[PSChannels] ([IdChannel])
GO
ALTER TABLE [dbo].[PSContentUsage] CHECK CONSTRAINT [FK_PSContentUsage_PSChannels]
GO
ALTER TABLE [dbo].[PSCRUDRawData]  WITH CHECK ADD  CONSTRAINT [FK_PSCRUDRawData_PSRawData] FOREIGN KEY([IdRawData])
REFERENCES [dbo].[PSRawData] ([IdRawData])
GO
ALTER TABLE [dbo].[PSCRUDRawData] CHECK CONSTRAINT [FK_PSCRUDRawData_PSRawData]
GO
ALTER TABLE [dbo].[PSCurrencies]  WITH CHECK ADD  CONSTRAINT [FK_PSCurrencies_PSCountries] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[PSCountries] ([IdCountry])
GO
ALTER TABLE [dbo].[PSCurrencies] CHECK CONSTRAINT [FK_PSCurrencies_PSCountries]
GO
ALTER TABLE [dbo].[PSETLConfig]  WITH CHECK ADD  CONSTRAINT [FK_PSETLConfig_PSServiceConnectionConfig] FOREIGN KEY([IdConnection])
REFERENCES [dbo].[PSServiceConnectionConfig] ([IdConnection])
GO
ALTER TABLE [dbo].[PSETLConfig] CHECK CONSTRAINT [FK_PSETLConfig_PSServiceConnectionConfig]
GO
ALTER TABLE [dbo].[PSETLDelta]  WITH CHECK ADD  CONSTRAINT [FK_PSETLDelta_PSETLRunLog] FOREIGN KEY([IdRunLog])
REFERENCES [dbo].[PSETLRunLogs] ([IdRunLog])
GO
ALTER TABLE [dbo].[PSETLDelta] CHECK CONSTRAINT [FK_PSETLDelta_PSETLRunLog]
GO
ALTER TABLE [dbo].[PSETLRunLogs]  WITH CHECK ADD  CONSTRAINT [FK_PSETLRunLog_PSETLConfig] FOREIGN KEY([IdConfig])
REFERENCES [dbo].[PSETLConfig] ([IdConfig])
GO
ALTER TABLE [dbo].[PSETLRunLogs] CHECK CONSTRAINT [FK_PSETLRunLog_PSETLConfig]
GO
ALTER TABLE [dbo].[PSExchangeRates]  WITH CHECK ADD  CONSTRAINT [FK_PSExchangeRates_PSCurrencies_Destiny] FOREIGN KEY([IdCurrencyDestiny])
REFERENCES [dbo].[PSCurrencies] ([IdCurrency])
GO
ALTER TABLE [dbo].[PSExchangeRates] CHECK CONSTRAINT [FK_PSExchangeRates_PSCurrencies_Destiny]
GO
ALTER TABLE [dbo].[PSExchangeRates]  WITH CHECK ADD  CONSTRAINT [FK_PSExchangeRates_PSCurrencies_Source] FOREIGN KEY([IdCurrencySource])
REFERENCES [dbo].[PSCurrencies] ([IdCurrency])
GO
ALTER TABLE [dbo].[PSExchangeRates] CHECK CONSTRAINT [FK_PSExchangeRates_PSCurrencies_Source]
GO
ALTER TABLE [dbo].[PSFeaturesPerSuscription]  WITH CHECK ADD  CONSTRAINT [FK_PSFeaturesPerSuscription_PSFeatures] FOREIGN KEY([IdFeature])
REFERENCES [dbo].[PSFeatures] ([IdFeature])
GO
ALTER TABLE [dbo].[PSFeaturesPerSuscription] CHECK CONSTRAINT [FK_PSFeaturesPerSuscription_PSFeatures]
GO
ALTER TABLE [dbo].[PSFeaturesPerSuscription]  WITH CHECK ADD  CONSTRAINT [FK_PSFeaturesPerSuscription_PSSubscriptions] FOREIGN KEY([IdSubscription])
REFERENCES [dbo].[PSSubscriptions] ([IdSubscription])
GO
ALTER TABLE [dbo].[PSFeaturesPerSuscription] CHECK CONSTRAINT [FK_PSFeaturesPerSuscription_PSSubscriptions]
GO
ALTER TABLE [dbo].[PSLeadsSumarry]  WITH CHECK ADD  CONSTRAINT [FK_PSLeadsSumarry_PSCampaigns] FOREIGN KEY([IdCampaign])
REFERENCES [dbo].[PSCampaigns] ([IdCampaign])
GO
ALTER TABLE [dbo].[PSLeadsSumarry] CHECK CONSTRAINT [FK_PSLeadsSumarry_PSCampaigns]
GO
ALTER TABLE [dbo].[PSLogs]  WITH CHECK ADD  CONSTRAINT [FK_PSLogs_PSLogLevels] FOREIGN KEY([IdLogLevel])
REFERENCES [dbo].[PSLogLevels] ([IdLogLevel])
GO
ALTER TABLE [dbo].[PSLogs] CHECK CONSTRAINT [FK_PSLogs_PSLogLevels]
GO
ALTER TABLE [dbo].[PSLogs]  WITH CHECK ADD  CONSTRAINT [FK_PSLogs_PSLogSources] FOREIGN KEY([IdLogSource])
REFERENCES [dbo].[PSLogSources] ([IdLogSource])
GO
ALTER TABLE [dbo].[PSLogs] CHECK CONSTRAINT [FK_PSLogs_PSLogSources]
GO
ALTER TABLE [dbo].[PSLogs]  WITH CHECK ADD  CONSTRAINT [FK_PSLogs_PSLogTypes] FOREIGN KEY([IdLogType])
REFERENCES [dbo].[PSLogTypes] ([IdLogType])
GO
ALTER TABLE [dbo].[PSLogs] CHECK CONSTRAINT [FK_PSLogs_PSLogTypes]
GO
ALTER TABLE [dbo].[PSMCPRequestLogs]  WITH CHECK ADD  CONSTRAINT [FK_PSMCPRequestLogs_PSMCPServerConfig] FOREIGN KEY([IdMCPServer])
REFERENCES [dbo].[PSMCPServerConfig] ([IdMCPServer])
GO
ALTER TABLE [dbo].[PSMCPRequestLogs] CHECK CONSTRAINT [FK_PSMCPRequestLogs_PSMCPServerConfig]
GO
ALTER TABLE [dbo].[PSMCPServerConfig]  WITH CHECK ADD  CONSTRAINT [FK_PSMCPServerConfig_PSAuthMethods] FOREIGN KEY([IdAuthMethod])
REFERENCES [dbo].[PSAuthMethods] ([IdAuthMethod])
GO
ALTER TABLE [dbo].[PSMCPServerConfig] CHECK CONSTRAINT [FK_PSMCPServerConfig_PSAuthMethods]
GO
ALTER TABLE [dbo].[PSMCPServerConfig]  WITH CHECK ADD  CONSTRAINT [FK_PSMCPServerConfig_PSServices] FOREIGN KEY([IdService])
REFERENCES [dbo].[PSServices] ([IdService])
GO
ALTER TABLE [dbo].[PSMCPServerConfig] CHECK CONSTRAINT [FK_PSMCPServerConfig_PSServices]
GO
ALTER TABLE [dbo].[PSPayments]  WITH CHECK ADD  CONSTRAINT [FK_PSPayments_PSPaymentMethods] FOREIGN KEY([IdPaymentMethod])
REFERENCES [dbo].[PSPaymentMethods] ([IdPaymentMethod])
GO
ALTER TABLE [dbo].[PSPayments] CHECK CONSTRAINT [FK_PSPayments_PSPaymentMethods]
GO
ALTER TABLE [dbo].[PSPayments]  WITH CHECK ADD  CONSTRAINT [FK_PSPayments_PSPaymentStatus] FOREIGN KEY([IdPaymentStatus])
REFERENCES [dbo].[PSPaymentStatus] ([IdPaymentStatus])
GO
ALTER TABLE [dbo].[PSPayments] CHECK CONSTRAINT [FK_PSPayments_PSPaymentStatus]
GO
ALTER TABLE [dbo].[PSPayments]  WITH CHECK ADD  CONSTRAINT [FK_PSPayments_PSPaymentTypes] FOREIGN KEY([IdPaymentType])
REFERENCES [dbo].[PSPaymentTypes] ([IdPaymentType])
GO
ALTER TABLE [dbo].[PSPayments] CHECK CONSTRAINT [FK_PSPayments_PSPaymentTypes]
GO
ALTER TABLE [dbo].[PSPayments]  WITH CHECK ADD  CONSTRAINT [FK_PSPayments_PSUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PSUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PSPayments] CHECK CONSTRAINT [FK_PSPayments_PSUsers]
GO
ALTER TABLE [dbo].[PSPermissionsPerRole]  WITH CHECK ADD  CONSTRAINT [FK_PSPermissionsPerRole_PSPermissions] FOREIGN KEY([IdPermission])
REFERENCES [dbo].[PSPermissions] ([IdPermission])
GO
ALTER TABLE [dbo].[PSPermissionsPerRole] CHECK CONSTRAINT [FK_PSPermissionsPerRole_PSPermissions]
GO
ALTER TABLE [dbo].[PSPermissionsPerRole]  WITH CHECK ADD  CONSTRAINT [FK_PSPermissionsPerRole_PSRoles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[PSRoles] ([IdRole])
GO
ALTER TABLE [dbo].[PSPermissionsPerRole] CHECK CONSTRAINT [FK_PSPermissionsPerRole_PSRoles]
GO
ALTER TABLE [dbo].[PSPublishedAds]  WITH CHECK ADD  CONSTRAINT [FK_PSPublishedAds_PSAdStatus] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[PSAdStatus] ([IdStatus])
GO
ALTER TABLE [dbo].[PSPublishedAds] CHECK CONSTRAINT [FK_PSPublishedAds_PSAdStatus]
GO
ALTER TABLE [dbo].[PSPublishedAds]  WITH CHECK ADD  CONSTRAINT [FK_PSPublishedAds_PSCampaigns] FOREIGN KEY([IdCampaign])
REFERENCES [dbo].[PSCampaigns] ([IdCampaign])
GO
ALTER TABLE [dbo].[PSPublishedAds] CHECK CONSTRAINT [FK_PSPublishedAds_PSCampaigns]
GO
ALTER TABLE [dbo].[PSPublishedAds]  WITH CHECK ADD  CONSTRAINT [FK_PSPublishedAds_PSChannels] FOREIGN KEY([IdChannel])
REFERENCES [dbo].[PSChannels] ([IdChannel])
GO
ALTER TABLE [dbo].[PSPublishedAds] CHECK CONSTRAINT [FK_PSPublishedAds_PSChannels]
GO
ALTER TABLE [dbo].[PSPublishedAds]  WITH CHECK ADD  CONSTRAINT [FK_PSPublishedAds_PSSentiments] FOREIGN KEY([IdSentiment])
REFERENCES [dbo].[PSSentiments] ([IdSentiment])
GO
ALTER TABLE [dbo].[PSPublishedAds] CHECK CONSTRAINT [FK_PSPublishedAds_PSSentiments]
GO
ALTER TABLE [dbo].[PSPublishedAdsReactions]  WITH CHECK ADD  CONSTRAINT [FK_PSPublishedAdsReactions_PSPublishedAds] FOREIGN KEY([IdPublishedAd])
REFERENCES [dbo].[PSPublishedAds] ([IdPublishedAd])
GO
ALTER TABLE [dbo].[PSPublishedAdsReactions] CHECK CONSTRAINT [FK_PSPublishedAdsReactions_PSPublishedAds]
GO
ALTER TABLE [dbo].[PSPublishedAdsReactions]  WITH CHECK ADD  CONSTRAINT [FK_PSPublishedAdsReactions_PSReactionTypes] FOREIGN KEY([IdReactionType])
REFERENCES [dbo].[PSReactionTypes] ([IdReactionType])
GO
ALTER TABLE [dbo].[PSPublishedAdsReactions] CHECK CONSTRAINT [FK_PSPublishedAdsReactions_PSReactionTypes]
GO
ALTER TABLE [dbo].[PSRawData]  WITH CHECK ADD  CONSTRAINT [FK_PSRawData_PSETLRunLog] FOREIGN KEY([IdRunLog])
REFERENCES [dbo].[PSETLRunLogs] ([IdRunLog])
GO
ALTER TABLE [dbo].[PSRawData] CHECK CONSTRAINT [FK_PSRawData_PSETLRunLog]
GO
ALTER TABLE [dbo].[PSRolesPerUser]  WITH CHECK ADD  CONSTRAINT [FK_PSRolesPerUser_PSRoles] FOREIGN KEY([IdRole])
REFERENCES [dbo].[PSRoles] ([IdRole])
GO
ALTER TABLE [dbo].[PSRolesPerUser] CHECK CONSTRAINT [FK_PSRolesPerUser_PSRoles]
GO
ALTER TABLE [dbo].[PSRolesPerUser]  WITH CHECK ADD  CONSTRAINT [FK_PSRolesPerUser_PSUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PSUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PSRolesPerUser] CHECK CONSTRAINT [FK_PSRolesPerUser_PSUsers]
GO
ALTER TABLE [dbo].[PSSalesSumarry]  WITH CHECK ADD  CONSTRAINT [FK_PSSalesSumarry_PSCampaigns] FOREIGN KEY([IdCampaign])
REFERENCES [dbo].[PSCampaigns] ([IdCampaign])
GO
ALTER TABLE [dbo].[PSSalesSumarry] CHECK CONSTRAINT [FK_PSSalesSumarry_PSCampaigns]
GO
ALTER TABLE [dbo].[PSServiceConnectionConfig]  WITH CHECK ADD  CONSTRAINT [FK_PSServiceConnectionConfig_PSServices] FOREIGN KEY([IdSourceService])
REFERENCES [dbo].[PSServices] ([IdService])
GO
ALTER TABLE [dbo].[PSServiceConnectionConfig] CHECK CONSTRAINT [FK_PSServiceConnectionConfig_PSServices]
GO
ALTER TABLE [dbo].[PSServiceConnectionConfig]  WITH CHECK ADD  CONSTRAINT [FK_PSServiceConnectionConfig_PSServices1] FOREIGN KEY([IdTargetService])
REFERENCES [dbo].[PSServices] ([IdService])
GO
ALTER TABLE [dbo].[PSServiceConnectionConfig] CHECK CONSTRAINT [FK_PSServiceConnectionConfig_PSServices1]
GO
ALTER TABLE [dbo].[PSServiceConnectionLogs]  WITH CHECK ADD  CONSTRAINT [FK_PSServiceConnectionLogs_PSServiceConnectionConfig] FOREIGN KEY([IdConnection])
REFERENCES [dbo].[PSServiceConnectionConfig] ([IdConnection])
GO
ALTER TABLE [dbo].[PSServiceConnectionLogs] CHECK CONSTRAINT [FK_PSServiceConnectionLogs_PSServiceConnectionConfig]
GO
ALTER TABLE [dbo].[PSServices]  WITH CHECK ADD  CONSTRAINT [FK_PSServices_PSServiceTypes] FOREIGN KEY([IdServiceType])
REFERENCES [dbo].[PSServiceTypes] ([IdServiceType])
GO
ALTER TABLE [dbo].[PSServices] CHECK CONSTRAINT [FK_PSServices_PSServiceTypes]
GO
ALTER TABLE [dbo].[PSStates]  WITH CHECK ADD  CONSTRAINT [FK_PSStates_PSCountries] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[PSCountries] ([IdCountry])
GO
ALTER TABLE [dbo].[PSStates] CHECK CONSTRAINT [FK_PSStates_PSCountries]
GO
ALTER TABLE [dbo].[PSSubscriptionsPerUser]  WITH CHECK ADD  CONSTRAINT [FK_PSSubscriptionsPerUser_PSSubscriptions] FOREIGN KEY([IdSubscription])
REFERENCES [dbo].[PSSubscriptions] ([IdSubscription])
GO
ALTER TABLE [dbo].[PSSubscriptionsPerUser] CHECK CONSTRAINT [FK_PSSubscriptionsPerUser_PSSubscriptions]
GO
ALTER TABLE [dbo].[PSSubscriptionsPerUser]  WITH CHECK ADD  CONSTRAINT [FK_PSSubscriptionsPerUser_PSUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PSUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PSSubscriptionsPerUser] CHECK CONSTRAINT [FK_PSSubscriptionsPerUser_PSUsers]
GO
ALTER TABLE [dbo].[PSUserContactInfo]  WITH CHECK ADD  CONSTRAINT [FK_PSUserContactInfo_PSContactInfoType] FOREIGN KEY([IdChannel])
REFERENCES [dbo].[PSChannels] ([IdChannel])
GO
ALTER TABLE [dbo].[PSUserContactInfo] CHECK CONSTRAINT [FK_PSUserContactInfo_PSContactInfoType]
GO
ALTER TABLE [dbo].[PSUserContactInfo]  WITH CHECK ADD  CONSTRAINT [FK_PSUserContactInfo_PSUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PSUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PSUserContactInfo] CHECK CONSTRAINT [FK_PSUserContactInfo_PSUsers]
GO
ALTER TABLE [dbo].[PSUsers]  WITH CHECK ADD  CONSTRAINT [FK_PSUsers_PSUserStatus] FOREIGN KEY([IdUserStatus])
REFERENCES [dbo].[PSUserStatus] ([IdUserStatus])
GO
ALTER TABLE [dbo].[PSUsers] CHECK CONSTRAINT [FK_PSUsers_PSUserStatus]
GO
ALTER TABLE [dbo].[PSUsersXOrganization]  WITH CHECK ADD  CONSTRAINT [FK_PSUsersXOrganization_PSOrganizations] FOREIGN KEY([IdOrganization])
REFERENCES [dbo].[PSOrganizations] ([IdOrganization])
GO
ALTER TABLE [dbo].[PSUsersXOrganization] CHECK CONSTRAINT [FK_PSUsersXOrganization_PSOrganizations]
GO
ALTER TABLE [dbo].[PSUsersXOrganization]  WITH CHECK ADD  CONSTRAINT [FK_PSUsersXOrganization_PSUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[PSUsers] ([IdUser])
GO
ALTER TABLE [dbo].[PSUsersXOrganization] CHECK CONSTRAINT [FK_PSUsersXOrganization_PSUsers]
GO
USE [master]
GO
